h2
{
    text-align: center;
}




#container 
{
    width: 1024px;
      margin: auto;
        padding:0;
        display: table;
        border: 1px solid black;

}

#row  
{
    display: table-row;
    height: 400px;
}

#left, #right, #middle 
{
    display: table-cell;
}

#left 
{
    width:150px;
    padding:1em;
    background: #EEF;
    display: table-cell;
}

#right 
{
    width:150px;
    padding:1em;
    background:#FEE;
    display: table-cell;
}

    
#middle 
{
    padding: 1em;
    background:#EFE;
    display: table-cell;
}
