h2
{
    text-align: center;
    font-family:"verdana", Sans-serif;
}




.main 
{
    width: 980px;
    margin: auto;
    padding:0;
    border: 1px solid black;

}

.row  
{
    width:100%;
}

.column 
{
    width:474px;
    border: 1px;
    background-color: rgb(255,255,255) ;
    float: left;
    height: 300px;
    border: solid 1px;
    font-family:"verdana", Sans-serif;
}

.column.left, .column.right
{
    width:210px;
    background-color: rgb(240,240,240);
    padding-left: 20px;
    padding-right: 20px;
}

.column.center
{
    width:434px;
    padding-left: 20px;
    padding-right: 20px;
}
    

.clear 
{
    clear: both;
}

.footer
{
    font-family:"verdana", Sans-serif;
    text-align: center;
    font-size: 10px;
}