
{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <form action="" method="post">{% csrf_token %}
    {{ form }}
    <input type="submit" value="Login" /><button type="button" onclick="location.href='/foo/'">Cancel</button>
  </form>
{{cheese}}

<p><button type="button" onclick="location.href='/foo/'">Return</button></p>
{% endblock %}


