<!doctype html>

<html>
<head>

    
{% block header_meta %}
    

    
{% endblock header_meta %}


{% block head-css %}

{% endblock %}


        
{% block head-js %}
        <!-- Header Javascript -->
{% endblock %}
</head> 
<body>

<h1>
{% block title %}{% endblock %}
</h1>

{% block main %}

    <div id="container"></div>

    <div class="main">
        <div class="row">

            <div  class="column left">
                <p>stuff can be put here</p>
            </div>

            <div  class="column center">
                <p class="margin">
                    {% block main-center %}{% endblock %}
                </p>
            </div>

            <div  class="column right"></div>

        </div>

        <div class="clear"></div>
    </div>


{% endblock %}





<footer>
    <p>&copy; 2005-2013 <a href="https://www.djangoproject.com/foundation/">Django Software Foundation</a> unless otherwise noted. Django is a registered trademark of the Django Software Foundation.
    <a href="http://mediatemple.net/">Linux Web hosting</a> graciously provided by Media Temple.
    </p>

</footer>

</body>
</html>